## Preprocessing Data for Final Prokect

In [1]:
# Import dependencies/libraries
import pandas as pd

In [2]:
# Load in the data
file_path = "ShelterDogs.csv"
df = pd.read_csv(file_path)
df.head()

,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in
0,23807,Gida,0.25,female,Unknown Mix,2019-12-10,2019-12-11,2019-12-11,red,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,533,Frida És Ricsi,0.17,female,Unknown Mix,2019-12-01,2019-12-01,2019-12-09,black and white,short,small,no,NaN,yes,yes,yes,yes,yes,NaN
2,23793,NaN,4.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,saddle back,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23795,NaN,1.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,yellow-brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23806,Amy,2.00,female,French Bulldog Mix,2019-12-10,2019-12-11,2019-12-11,black,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# View the columns
df.columns

Index(['ID', 'name', 'age', 'sex', 'breed', 'date_found', 'adoptable_from',
       'posted', 'color', 'coat', 'size', 'neutered', 'housebroken',
       'likes_people', 'likes_children', 'get_along_males',
       'get_along_females', 'get_along_cats', 'keep_in'],
      dtype='object')

In [4]:
# View the data types
df.dtypes

ID                     int64
name                  object
age                  float64
sex                   object
breed                 object
date_found            object
adoptable_from        object
posted                object
color                 object
coat                  object
size                  object
neutered              object
housebroken           object
likes_people          object
likes_children        object
get_along_males       object
get_along_females     object
get_along_cats        object
keep_in               object
dtype: object

In [5]:
# Find null values
for column in df.columns:
    print(f"Column {column} has {df[column].isnull().sum()} null values")

Column ID has 0 null values
Column name has 92 null values
Column age has 0 null values
Column sex has 0 null values
Column breed has 0 null values
Column date_found has 0 null values
Column adoptable_from has 0 null values
Column posted has 0 null values
Column color has 0 null values
Column coat has 0 null values
Column size has 0 null values
Column neutered has 1085 null values
Column housebroken has 2477 null values
Column likes_people has 938 null values
Column likes_children has 1718 null values
Column get_along_males has 1304 null values
Column get_along_females has 1264 null values
Column get_along_cats has 2506 null values
Column keep_in has 1021 null values

In [6]:
# Drop columns
# Unnecessary columns: ID, name, adoptable_from, posted
# Columns with too much missing data: neutered, housebroken, likes_children, get_along_males, get_along_females, get_along_cats, keep_in
updated_df = df.drop(["ID", "name", "adoptable_from", "color", "posted","neutered", "housebroken", "likes_children", "get_along_males", "get_along_females", "get_along_cats", "keep_in"], axis=1)
updated_df

,age,sex,breed,date_found,coat,size,likes_people
0,0.25,female,Unknown Mix,2019-12-10,short,small,NaN
1,0.17,female,Unknown Mix,2019-12-01,short,small,yes
2,4.00,male,Unknown Mix,2019-12-08,short,medium,NaN
3,1.00,male,Unknown Mix,2019-12-08,medium,medium,NaN
4,2.00,female,French Bulldog Mix,2019-12-10,short,small,NaN
...,...,...,...,...,...,...,...
2932,16.92,male,Unknown Mix,2003-12-25,short,medium,yes
2933,17.33,female,Staffordshire Terrier Mix,2004-08-27,short,large,NaN
2934,18.17,male,Unknown Mix,2005-09-21,short,medium,NaN
2935,17.17,male,Unknown Mix,2004-11-27,medium,medium,NaN
2936,16.08,male,"German Shepherd Dog, Hound Mix",2005-04-02,short,medium,yes

In [7]:
# View the data types of the remaining columns in the updated DF
updated_df.dtypes

age             float64
sex              object
breed            object
date_found       object
coat             object
size             object
likes_people     object
dtype: object

In [8]:
# Drop null rows
updated_df = updated_df.dropna()
updated_df

,age,sex,breed,date_found,coat,size,likes_people
1,0.17,female,Unknown Mix,2019-12-01,short,small,yes
6,0.17,male,Unknown Mix,2019-12-01,short,small,yes
9,0.17,female,Unknown Mix,2019-12-10,short,small,yes
13,0.17,male,Unknown Mix,2019-12-10,short,small,yes
14,1.50,male,"Bull Terrier, Dachshund Mix",2019-12-01,short,medium,yes
...,...,...,...,...,...,...,...
2919,15.67,female,Kuvasz,2005-04-01,medium,large,yes
2925,13.75,male,German Shepherd Dog Mix,2006-06-01,short,medium,yes
2928,13.75,male,Pumi Mix,2007-01-15,medium,medium,yes
2932,16.92,male,Unknown Mix,2003-12-25,short,medium,yes
2936,16.08,male,"German Shepherd Dog, Hound Mix",2005-04-02,short,medium,yes

In [9]:
# Transform non-numerical columns to numerical types

# Sex column
def change_sex(sex):
    if sex == "male":
        return 0
    else:
        return 1
    
updated_df["sex_new"] = updated_df["sex"].apply(change_sex)
updated_df

/Users/marika.chrisanthopoulos/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

,age,sex,breed,date_found,coat,size,likes_people,sex_new
1,0.17,female,Unknown Mix,2019-12-01,short,small,yes,1
6,0.17,male,Unknown Mix,2019-12-01,short,small,yes,0
9,0.17,female,Unknown Mix,2019-12-10,short,small,yes,1
13,0.17,male,Unknown Mix,2019-12-10,short,small,yes,0
14,1.50,male,"Bull Terrier, Dachshund Mix",2019-12-01,short,medium,yes,0
...,...,...,...,...,...,...,...,...
2919,15.67,female,Kuvasz,2005-04-01,medium,large,yes,1
2925,13.75,male,German Shepherd Dog Mix,2006-06-01,short,medium,yes,0
2928,13.75,male,Pumi Mix,2007-01-15,medium,medium,yes,0
2932,16.92,male,Unknown Mix,2003-12-25,short,medium,yes,0
2936,16.08,male,"German Shepherd Dog, Hound Mix",2005-04-02,short,medium,yes,0

In [10]:
# Breed
def change_breed(breed):
    if breed == "Unknown Mix":
        return 0
    else:
        return 1

updated_df["breed_new"] = updated_df["breed"].apply(change_breed)
updated_df

/Users/marika.chrisanthopoulos/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,age,sex,breed,date_found,coat,size,likes_people,sex_new,breed_new
1,0.17,female,Unknown Mix,2019-12-01,short,small,yes,1,0
6,0.17,male,Unknown Mix,2019-12-01,short,small,yes,0,0
9,0.17,female,Unknown Mix,2019-12-10,short,small,yes,1,0
13,0.17,male,Unknown Mix,2019-12-10,short,small,yes,0,0
14,1.50,male,"Bull Terrier, Dachshund Mix",2019-12-01,short,medium,yes,0,1
...,...,...,...,...,...,...,...,...,...
2919,15.67,female,Kuvasz,2005-04-01,medium,large,yes,1,1
2925,13.75,male,German Shepherd Dog Mix,2006-06-01,short,medium,yes,0,1
2928,13.75,male,Pumi Mix,2007-01-15,medium,medium,yes,0,1
2932,16.92,male,Unknown Mix,2003-12-25,short,medium,yes,0,0
2936,16.08,male,"German Shepherd Dog, Hound Mix",2005-04-02,short,medium,yes,0,1

In [11]:
# likes_people
def change_likes_people(likes_people):
    if likes_people == "yes":
        return 0
    else:
        return 1

updated_df["likes_people_new"] = updated_df["likes_people"].apply(change_likes_people)
updated_df

/Users/marika.chrisanthopoulos/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,age,sex,breed,date_found,coat,size,likes_people,sex_new,breed_new,likes_people_new
1,0.17,female,Unknown Mix,2019-12-01,short,small,yes,1,0,0
6,0.17,male,Unknown Mix,2019-12-01,short,small,yes,0,0,0
9,0.17,female,Unknown Mix,2019-12-10,short,small,yes,1,0,0
13,0.17,male,Unknown Mix,2019-12-10,short,small,yes,0,0,0
14,1.50,male,"Bull Terrier, Dachshund Mix",2019-12-01,short,medium,yes,0,1,0
...,...,...,...,...,...,...,...,...,...,...
2919,15.67,female,Kuvasz,2005-04-01,medium,large,yes,1,1,0
2925,13.75,male,German Shepherd Dog Mix,2006-06-01,short,medium,yes,0,1,0
2928,13.75,male,Pumi Mix,2007-01-15,medium,medium,yes,0,1,0
2932,16.92,male,Unknown Mix,2003-12-25,short,medium,yes,0,0,0
2936,16.08,male,"German Shepherd Dog, Hound Mix",2005-04-02,short,medium,yes,0,1,0

In [12]:
# coat
def change_coat(coat):
    if coat == "short":
        return 0
    elif coat == "medium":
        return 1
    elif coat == "long":
        return 2
    else:
        return 3

updated_df["coat_new"] = updated_df["coat"].apply(change_coat)
updated_df

/Users/marika.chrisanthopoulos/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,age,sex,breed,date_found,coat,size,likes_people,sex_new,breed_new,likes_people_new,coat_new
1,0.17,female,Unknown Mix,2019-12-01,short,small,yes,1,0,0,0
6,0.17,male,Unknown Mix,2019-12-01,short,small,yes,0,0,0,0
9,0.17,female,Unknown Mix,2019-12-10,short,small,yes,1,0,0,0
13,0.17,male,Unknown Mix,2019-12-10,short,small,yes,0,0,0,0
14,1.50,male,"Bull Terrier, Dachshund Mix",2019-12-01,short,medium,yes,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2919,15.67,female,Kuvasz,2005-04-01,medium,large,yes,1,1,0,1
2925,13.75,male,German Shepherd Dog Mix,2006-06-01,short,medium,yes,0,1,0,0
2928,13.75,male,Pumi Mix,2007-01-15,medium,medium,yes,0,1,0,1
2932,16.92,male,Unknown Mix,2003-12-25,short,medium,yes,0,0,0,0
2936,16.08,male,"German Shepherd Dog, Hound Mix",2005-04-02,short,medium,yes,0,1,0,0

In [13]:
# size
def change_size(size):
    if size == "small":
        return 0
    elif size == "medium":
        return 1
    elif size == "large":
        return 2
    else:
        return "N/A"
    
updated_df["size_new"] = updated_df["size"].apply(change_size)
updated_df

/Users/marika.chrisanthopoulos/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,age,sex,breed,date_found,coat,size,likes_people,sex_new,breed_new,likes_people_new,coat_new,size_new
1,0.17,female,Unknown Mix,2019-12-01,short,small,yes,1,0,0,0,0
6,0.17,male,Unknown Mix,2019-12-01,short,small,yes,0,0,0,0,0
9,0.17,female,Unknown Mix,2019-12-10,short,small,yes,1,0,0,0,0
13,0.17,male,Unknown Mix,2019-12-10,short,small,yes,0,0,0,0,0
14,1.50,male,"Bull Terrier, Dachshund Mix",2019-12-01,short,medium,yes,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2919,15.67,female,Kuvasz,2005-04-01,medium,large,yes,1,1,0,1,2
2925,13.75,male,German Shepherd Dog Mix,2006-06-01,short,medium,yes,0,1,0,0,1
2928,13.75,male,Pumi Mix,2007-01-15,medium,medium,yes,0,1,0,1,1
2932,16.92,male,Unknown Mix,2003-12-25,short,medium,yes,0,0,0,0,1
2936,16.08,male,"German Shepherd Dog, Hound Mix",2005-04-02,short,medium,yes,0,1,0,0,1

In [14]:
# date
# Split data based on y, m, d
updated_dates = updated_df["date_found"].str.split(pat = "-", expand=True)
updated_dates

         0   1   2
1     2019  12  01
6     2019  12  01
9     2019  12  10
13    2019  12  10
14    2019  12  01
...    ...  ..  ..
2919  2005  04  01
2925  2006  06  01
2928  2007  01  15
2932  2003  12  25
2936  2005  04  02

[1999 rows x 3 columns]

In [15]:
# Insert month column to updated_df
updated_df["month_found_new"] = updated_dates[1]

# Drop old date_found column
updated_df = updated_df.drop(["date_found"], axis=1)

# View updated DF
updated_df

/Users/marika.chrisanthopoulos/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,age,sex,breed,coat,size,likes_people,sex_new,breed_new,likes_people_new,coat_new,size_new,month_found_new
1,0.17,female,Unknown Mix,short,small,yes,1,0,0,0,0,12
6,0.17,male,Unknown Mix,short,small,yes,0,0,0,0,0,12
9,0.17,female,Unknown Mix,short,small,yes,1,0,0,0,0,12
13,0.17,male,Unknown Mix,short,small,yes,0,0,0,0,0,12
14,1.50,male,"Bull Terrier, Dachshund Mix",short,medium,yes,0,1,0,0,1,12
...,...,...,...,...,...,...,...,...,...,...,...,...
2919,15.67,female,Kuvasz,medium,large,yes,1,1,0,1,2,04
2925,13.75,male,German Shepherd Dog Mix,short,medium,yes,0,1,0,0,1,06
2928,13.75,male,Pumi Mix,medium,medium,yes,0,1,0,1,1,01
2932,16.92,male,Unknown Mix,short,medium,yes,0,0,0,0,1,12
2936,16.08,male,"German Shepherd Dog, Hound Mix",short,medium,yes,0,1,0,0,1,04

In [16]:
# View updated DF
updated_df

,age,sex,breed,coat,size,likes_people,sex_new,breed_new,likes_people_new,coat_new,size_new,month_found_new
1,0.17,female,Unknown Mix,short,small,yes,1,0,0,0,0,12
6,0.17,male,Unknown Mix,short,small,yes,0,0,0,0,0,12
9,0.17,female,Unknown Mix,short,small,yes,1,0,0,0,0,12
13,0.17,male,Unknown Mix,short,small,yes,0,0,0,0,0,12
14,1.50,male,"Bull Terrier, Dachshund Mix",short,medium,yes,0,1,0,0,1,12
...,...,...,...,...,...,...,...,...,...,...,...,...
2919,15.67,female,Kuvasz,medium,large,yes,1,1,0,1,2,04
2925,13.75,male,German Shepherd Dog Mix,short,medium,yes,0,1,0,0,1,06
2928,13.75,male,Pumi Mix,medium,medium,yes,0,1,0,1,1,01
2932,16.92,male,Unknown Mix,short,medium,yes,0,0,0,0,1,12
2936,16.08,male,"German Shepherd Dog, Hound Mix",short,medium,yes,0,1,0,0,1,04

In [17]:
# Create Processed DF
processed_df = updated_df.drop(["sex", "breed", "coat", "size", "likes_people"], axis=1)

# View Processed DF
processed_df

,age,sex_new,breed_new,likes_people_new,coat_new,size_new,month_found_new
1,0.17,1,0,0,0,0,12
6,0.17,0,0,0,0,0,12
9,0.17,1,0,0,0,0,12
13,0.17,0,0,0,0,0,12
14,1.50,0,1,0,0,1,12
...,...,...,...,...,...,...,...
2919,15.67,1,1,0,1,2,04
2925,13.75,0,1,0,0,1,06
2928,13.75,0,1,0,1,1,01
2932,16.92,0,0,0,0,1,12
2936,16.08,0,1,0,0,1,04

In [18]:
# Export file
processed_df.to_csv("processed_data.csv", index=False)

In [23]:
# Create sample datasets
original_data = "ShelterDogs.csv"
original_df = pd.read_csv(original_data)

# Original and processed DF's
original_df
processed_df

# First 200 values of each dataset
original_sample_df = original_df.head(200)
processed_sample_df = processed_df.head(200)

In [24]:
# View original sample DF
original_sample_df

,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in
0,23807,Gida,0.25,female,Unknown Mix,2019-12-10,2019-12-11,2019-12-11,red,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,533,Frida És Ricsi,0.17,female,Unknown Mix,2019-12-01,2019-12-01,2019-12-09,black and white,short,small,no,NaN,yes,yes,yes,yes,yes,NaN
2,23793,NaN,4.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,saddle back,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23795,NaN,1.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,yellow-brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23806,Amy,2.00,female,French Bulldog Mix,2019-12-10,2019-12-11,2019-12-11,black,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2858,Boni,11.17,male,Golden Retriever,2019-01-01,2019-01-01,2019-10-11,golden,short,large,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,2862,Gray,6.17,male,Labrador Retriever,2019-02-21,2019-02-21,2019-10-11,yellow,short,large,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,2860,Bubuka,6.17,male,Labrador Retriever,2019-01-01,2019-01-01,2019-10-11,black,short,large,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,2854,Beni,11.17,male,Labrador Retriever,2019-01-01,2019-01-01,2019-10-11,yellow,short,large,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,2861,Erl,8.17,male,Labrador Retriever,2019-02-21,2019-02-21,2019-10-11,yellow,short,large,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# Export original sample DF to .csv
original_sample_df.to_csv("original_sample.csv", index=False)

In [26]:
# View processed sample DF
processed_sample_df

,age,sex_new,breed_new,likes_people_new,coat_new,size_new,month_found_new
1,0.17,1,0,0,0,0,12
6,0.17,0,0,0,0,0,12
9,0.17,1,0,0,0,0,12
13,0.17,0,0,0,0,0,12
14,1.50,0,1,0,0,1,12
...,...,...,...,...,...,...,...
300,1.50,0,1,0,0,0,06
301,1.92,0,0,0,0,1,03
302,0.83,0,0,0,1,1,05
303,2.42,0,1,0,0,1,06
304,2.50,1,0,0,0,1,06

In [27]:
# Export original sample DF to .csv
processed_sample_df.to_csv("processed_sample.csv", index=False)